body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    color: green;
}

#history {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    overflow-y: auto;
    height: 40vh;
}

.object-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%;
    margin: 0 5px; 
    font-size: 1.2rem;
    text-transform: uppercase;
}

.object-entry img {
    margin-top: 5px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

@keyframes kick {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

.object-entry.kick {
    animation: kick 0.5s ease forwards;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


